{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load wger_extras %}
{% load thumbnail %}

<!--
        Title
-->
{% block title %}
    {% trans "Exercises" %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
            {% trans "Select language" %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href={% url 'exercise:exercise:overview' %}>None</li>
            {% for short_name, language in languages %}
            <li>
                <a href={% url 'exercise:exercise:overview' %}?filter_lang={{ short_name }}>{{ language }}
            </li>
            {% endfor %} 
        </ul>
    </div>
{% endblock %}



{% block header %}
<script>
$(document).ready(function() {

    // Init the autocompleter
    $('#exercise-search').autocomplete({
        serviceUrl: '{% url 'exercise-search' %}',
        showNoSuggestionNotice: true,
        dataType: 'json',
        paramName: 'term',
        groupBy: 'category',
        minChars: 3,
        onSelect: function (suggestion) {
            window.location.href = '/exercise/' + suggestion.data.id + '/view/'
        }
    });

    (function ($) {
        $(function () {
          $(document).off('click.bs.tab.data-api', '[data-hover="tab"]');
          $(document).on('mouseenter.bs.tab.data-api', '[data-toggle="tab"], [data-hover="tab"]', function () {
            $(this).tab('show');
          });
        });
      })(jQuery);
});
</script>
{% endblock %}


<!--
        Main Content
-->
{% block content %}
<!-- If no filter language is provided cache -->
{% if not filter_lang %}
    {% load cache %}
    {% cache cache_timeout exercise-overview language.id %}
    {% include 'exercise/exercise_list.html' %}
    {% endcache %}
{% else %}
    {% include 'exercise/exercise_list.html' %}    
{% endif %}

{% endblock %}


<!--
        Side bar
-->
{% block sidebar %}
<h4>{% trans "Search" %}</h4>
    <input name="term"
           type="search"
           id="exercise-search"
           class="ajax-form-element form-control"
           placeholder="{% trans 'exercise name' %}">
{% endblock %}



{% block options %}
    {% if user.is_authenticated and not user.userprofile.is_temporary %}
        <a href="{% url 'exercise:exercise:add' %}" class="btn btn-success btn-sm">
            {% trans "Add new exercise" %}
        </a>
    {% else %}
        <a href="#" class="btn btn-success btn-sm disabled">
            {% trans "Add new exercise" %}<br>
            <small>
            {% trans "Only registered users can do this" %}
            </small>
        </a>
    {% endif %}
{% endblock %}
